<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>

    <!-- link awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <!-- Link file CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
</head>
<body>
    <div class="contanier">
        <div class="box-login">
            <h1 style="font-size: 20px; position: relative; left: 90px; top: 30px; cursor: pointer;  " id="logo" ><a href="{%url 'home'%}" style="text-decoration:  none; color: black;">Food</a> <br> <span style="color: rgb(34, 50, 226);">delivery</span></h1>
            <div class="login">
                <div class="header">
                    <img src="image/logo.png" alt="" class="logo">
                    {% include "components/messages.html" %}
                    <h2 style="text-align: left !important; font-size: 50px;">Login</h2>
                </div>

                <form method="post">  {% csrf_token %}
                    <label for="email">Email</label>
                    <div class="inp">
                        <input type="email" name="email" placeholder="name@example.com" style="border-radius: 10px; ">
                    </div>

                    <label for="password">Password</label>
                    <div class="inp">
                        <input type="password" name="password" placeholder="Enter Your Password" style="
                        border-radius: 10px;
                    ">
                    </div>

                    <div class="check-box" >
                        <div class="check" style="visibility: hidden;">
                            <input type="checkbox">
                            <span>Remember Me</span>
                        </div>
                        <a href="{% url 'reset_password'%}" class="forg" style="text-align: center !important; position: relative; right: 154px; top: 160px;" >Forgot Password?</a>
                    </div>

                    <button style="
                    border-radius: 10px; position: relative; bottom: 50px;">Login</button>
                </form>



                <p class="creat-ac" style="position: absolute; bottom: 50px; left: 260px;">Don't Have an account? <a href="#">Creat Account</a></p>
            </div>
        </div>
        <div class="text" style="background: linear-gradient(rgb(105, 123, 255), rgb(3, 22, 165));">
            <img src="{% static 'img/login.png'%} " style="width: 600px !important;" alt="">
            <h1 style="font-size: 30px !important;">Leave reviews for all measl</h1>
            <p>Let the Best of International Business News come to you.</p>
        </div>

    </div>
</body>
</html>