*{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
}
hr{
    background: #ff4444;
    position: relative;
    bottom: 30px;
}

.ulClass{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 20px;
}

.ulClass > li > a{
    color: rgb(171, 40, 40);
    text-decoration: none;
}
.ulClass > li{
    font-weight: 500;
    padding: 10px;
    font-size: 13.9px;
}




#site-search{
    border-radius: 40px;
    background-color: gray;


}

#seBut{

}