<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodHere</title>
    <!-- Links -->
    <link rel="stylesheet" href="/Food-Delivery-App/static/css/navbar.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/regular.min.css">

</head>
<body>

    <style>       
        hr{
            height: 1px;
            background-color: #ccc;
            border: none;
        }
    </style>

    <nav>

        <h1 style="font-size: 20px;">Food <br> <span style="color: rgb(34, 50, 226);">delivery</span></h1>

        <div class="serachbar">
            <input type="search" id="site-search" name="q" placeholder="search">            
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

        <ul class="ulClass">
            <li><a href="#">Restaurants</a></li>
            <li><a href="#">Deals</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Create A Account</a></li>
        </ul>
    </nav>
    <hr class="underlineDiv">

</body>
</html>