{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    
 
  <!-- Site footer -->
  <header>
    <!-- Content -->
  </header>
  
  <main>
    <!-- Content -->
  </main>
  
  <footer class="footer">
    <div class="footer__addr">
      <h1 class="footer__logo" style="color: white;">Food <br> <span style="color: rgb(34, 50, 226);">delivery</span></h1>

    </div>
    
    <ul class="footer__nav">
      <li class="nav__item">
        <h2 class="nav__title">Responses</h2>
  
        <ul class="nav__ul">
          <li>
            <a href="#">Online</a>
          </li>
  
          <li>
            <a href="#">Print</a>
          </li>
              
          <li>
            <a href="#">Alternative Ads</a>
          </li>
        </ul>
      </li>
      

      
      
      <li class="nav__item">
        <h2 class="nav__title">Company</h2>
        
        <ul class="nav__ul">
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          
          <li>
            <a href="#">Terms of Use</a>
          </li>
          
          <li>
            <a href="#">Sitemap</a>
          </li>
        </ul>
      </li>
      
      <li class="nav__item">
        <h2 class="nav__title">Support</h2>
        
        <ul class="nav__ul">
          <li>
            <a href="#">Privacy Policy</a>
          </li>
          
          <li>
            <a href="#">Terms of Use</a>
          </li>
          
          <li>
            <a href="#">Sitemap</a>
          </li>
        </ul>
      </li>
    </ul>
    
    <div class="legal">
      <p>&copy; {%now "Y" as c_y%} {{c_y}} All rights reserved.</p>
      
      <div class="legal__links">
      </div>
    </div>
  </footer>