<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Rstaurants </title>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- link awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <!-- Link file CSS -->
    {% load static %}
</head>

    <!--  
    price_Max 
    price_Min 
    category
    created_at 
    opening_time 
    closing_time  -->

<body>


                <form id="regForm" method="post"> {% csrf_token %}

                    <h1>Add your new rstaurant</h1>
                    
                    <!-- One "tab" for each step in the form: -->
                    <div class="tab">
                      <label id="res-label">Rstaurant Name</label>
                      <p><input placeholder="Rstaurant name" oninput="this.className = ''" name="res-name"></p>
                      <label id="res-label">Rstaurant logo</label>
                      <p><input type="file" oninput="this.className = ''" name="res-logo"></p>
                      <label id="res-label">Rstaurant bannar</label>
                      <p><input type="file" oninput="this.className = ''" name="res-bannar"></p>
                    </div>
                    
                    <div class="tab">
                      <label>Time for delevery</label>
                      <p><input placeholder="time_for_delivery" type="number" oninput="this.className = ''" name="res-time_for_delivery"></p>
                      <label>Opening time</label>
                      <p><input type="time" oninput="this.className = ''" name="res-opening_time"></p>
                      <label>Closing time</label>
                      <p><input type="time" oninput="this.className = ''" name="res-closing_time"></p>
                      <label>Restaurant description</label><br>
                      <textarea id="w3review"  rows="5" cols="50" name="res-description"></textarea>
                    </div>
                    
                    <div class="tab">Rstaurant more info:
                      <p><input placeholder="price_Max" type="number" oninput="this.className = ''" name="res-Pmax"></p>
                      <p><input placeholder="price_Min"  type="number" oninput="this.className = ''" name="res-Pmin"></p>
                      <p><select name="res-catagory">
                        <option value="">------</option>
                        <option value="burger">burger</option>
                        <option value="pizza">pizza</option>
                        <option value="sandwich">sandwich</option>
                        <option value="drink">drink</option>
                        <option value="dessert">dessert</option>
                      </select></p>
                      
                    </div>
  
                    
                    <div style="overflow:auto;">
                      <div style="float:right;">
                        <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                        <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                      </div>
                    </div>
                    
                    <!-- Circles which indicates the steps of the form: -->
                    <div style="text-align:center;margin-top:40px;">
                      <span class="step"></span>
                      <span class="step"></span>
                      <span class="step"></span>
                      <span class="step"></span>
                    </div>
                    
                    </form> 



<style>
  *{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Prompt', sans-serif;
    }
#regForm {
  margin: 100px auto;
  padding: 40px;
  gap: 20px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  border-radius: 10px;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}
    
</style>

</body>

<script>

var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form ...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  // ... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  // ... and run a function that displays the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form... :
  if (currentTab >= x.length) {
    //...the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false:
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class to the current step:
  x[n].className += " active";
}


</script>

</html>