<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      </head>
    <body>
        
        
        
        {% include "components/navbar.html" %}

        {% block  content%}

              
      <!-- messages  -->
      {% if messages %}
      {%for message in messages%}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show align-top" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="background-color: transparent; border: none; position: absolute; right: 20px; width: 200px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <br>
      {% endfor %}
      {% endif %}

        
        {% endblock content %}


        <footer>
        </footer>
        
</body>
</html>